name: Android Release (Artifact)

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/*.gradle.kts', '**/gradle-wrapper.properties') }}

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Extract version from tag
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Release AAB
        run: ./gradlew bundleRelease

      - name: Rename release artifact
        run: |
          mv app/build/outputs/bundle/release/app-release.aab \
             app/build/outputs/bundle/release/app-v${VERSION}-release.aab

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-v${{ env.VERSION }}-release
          path: app/build/outputs/bundle/release/app-v${{ env.VERSION }}-release.aab
